/* ----------- Nav ----------- */

/* ----------- Hero ----------- */

#hero_container {
  background-image: url(./images/delicate_arch.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 20px;
}

#hero_container h2 {
  padding: 100px 0 50px 0;
  font-size: 175px;
  font-family:'Monoton', cursive;
  text-align: center;
}

@media (max-width: 768px) {
  #hero_container h2 {
    font-size:25px;
  }
}

@media (max-width: 992px) {
  #hero_container h2 {
    font-size:50px;
  }
}

#hero_container h3 {
  font-size: 25px;
  font-family: 'Monoton', cursive;
  text-align: center;
}

.social_links a {
  color:white;
  padding:20px 0 0 40px;
}

.social_links a:hover {
  text-decoration: none;
}

/* ----------- Portfolio Section ----------- */

#portfolio {
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 40px;
  font-weight: bolder;
  border-style:double;
}

#portfolio_container {
  text-align: center;
}

#portfolio_container a:hover {
  text-decoration: none;
}

#link_text {
  color: black;
}


/* ----------- About Me ----------- */
.about_me {
  text-align: center;
}

#about_me_title a {
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 40px;
  font-weight: bolder;
  border-style:double;
}

.about_me_container {
  text-align: center;
  padding: 20px 10px 20px 10px;
}
